In [1]:
#introduction to python or #pycharm ide
print("hello world")

hello world

In [2]:
print() #blank output or one empty line ''' long comments in triple quotes'''

In [11]:
#python variables 
a = 5
b = "python" #you can also declare string with single quotes
print(a)
print(b)

5
python

In [12]:
#casting
a=int(5)
b=str("python") 
c=str(4)
d=int(4)
e=float(4)
print(a)
print(b)
print(c)
print(d)
print(e)

5
python
4
4
4.0

In [13]:
#you can get the type of a variable using type()
a=4
b="python"
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [15]:
#variables names are case sensitive in python
a=4
A="python" #A will not overwrite a
print(a)
print(A)

4
python

In [18]:
#multiple variables in one line 
x,y,z="python" , "java" , "c++"
print(x)
print(y)
print(z)
#one value to multiple variables
a=b=c="computer programming" #use equal sign
print(a)
print(b)
print(c)

python
java
c++
computer programming
computer programming
computer programming

In [21]:
'''If you have a collection of values in a list, tuple etc.
Python allows you to extract the values into variables. This is called unpacking.'''

alph=['a','b','c']
alph1,alph2,alph3=alph
print(alph1)
print(alph2)
print(alph3)

a
b
c

In [6]:
#concatenation
a = "python " #give space while declaring variable
b = "is " 
c = "language " 
print(a + b + c) #concatenation
print(a , b, c)

python is language
python  is  language

In [2]:
#global variable - when we create a variable outside the function
x = "python"
def func1():
    print("global variable is " + x)
func1()

global variable is python

In [5]:
#local variable - when we create a variable outside the function
x="global" #global variable
def func2():
    x="local" #variable name same as global variable
    print("this is "+ x )#it will print the value of local
func2()
print("this is "+ x) #it will print the value of global

this is local
this is global

In [7]:
'''if you want to create a global variable inside the function then u need to use 
a global keyword'''
def func3():
    global x #global variable
    x="python"
    print("this global variable is "+ x) #can print here
func3()
print("this global variable is "+ x) #can print here also

this global variable is python
this global variable is python

In [12]:
x=["python","java","c"]
print(type(x))
y={"lang1":"java","lang2":"python"}
print(type(y))
z=range(6)
print(type(z))
p=4
q=complex(p) #will convert int into complex
print(q)
print(type(q)) #print class complex
j=bytes(5)
print(j)
print(type(j))

<class 'list'>
<class 'dict'>
<class 'range'>
(4+0j)
<class 'complex'>
b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [43]:
#string are arrays or traverse a string
a = "Hello World"
print(a[1]) #first character at zero position
print(a[5]) #return space
print(len(a))
print(a.upper())
print(a.lower())
print(a.capitalize())
print(a.casefold())
print(a.swapcase())
print(a.count("o"))
#looping through string as it is array
for i in "python":
    print(i)

e

11
HELLO WORLD
hello world
Hello world
hello world
hELLO wORLD
2
p
y
t
h
o
n

In [23]:
#checking string in two ways
A="python is my favourite language"
print("my" in A) #return true
print("my" not in A) #return false
#or
if("my" in A):
    print("Yes")
if("ro" not in A):
    print("NO")

True
False
Yes
NO

In [17]:
a= "lang python! "
print(a[1:])
print(a[:5])
print(a[-5:-2])
print(a.upper())
print(a.lower())
print(a.strip("")) #removes outer space
print(a.replace("g","u")) #replace g with u
print(a.split()) 
print(a.split('o'))
print(a.split('p'))
print(a.split('l'))
print(a.split(','))

ang python!
lang
hon
LANG PYTHON!
lang python!
lang python!
lanu python!
['lang', 'python!']
['lang pyth', 'n! ']
['lang ', 'ython! ']
['', 'ang python! ']
['lang python! ']
['lang python! ']

In [27]:
#as we know we can not concatenate string and number
#but we can combine them using format() method like this
int=20
string="my name is srishti and I am {}"
print(string.format(int))
#you can combine multiple integers like this -
price=500
quantity=20
str2="I want to pay {} for {} chips"
print(str2.format(price,quantity))
#you can specify the order as well as index number
travel=4
age=24
cost=20000
str3="I am {2} years old and i have travel {0} times and it cost me {1}" #assigend acc to print order
print(str3.format(travel,cost,age))

my name is srishti and I am 20
I want to pay 500 for 20 chips
I am 24 years old and i have travel 4 times and it cost me 20000

In [38]:
#escape characters
#An escape character is a backslash \ followed by the character you want to insert.
#To insert characters that are illegal in a string, use an escape character.
A="I am the \"best\" "
print(A)
B="Name \nSrishti"
print(B)
C="Name\tsrishti" 
print(C)
D="My Name is \rSrishti" 
#carriage return...srishti contains 7 letters it will print as it as and then 
#go in the beginning deleting 7 starting letters and then print remaining string
print(D)
E="I am the best\\"
print(E)

I am the "best"
Name
Srishti
Name	srishti
Srishti
I am the best\

In [7]:
#list making with the list() constructor
list1=list(("python","java","C"))
print(list1)
print(list1[1]) #access value
list1[2]="C++" #change value
list1.insert(1,"R")
print(list1)
#List is a collection which is ordered and changeable. Allows duplicate members.

['python', 'java', 'C']
java
['python', 'R', 'java', 'C++']

In [11]:
t=("java")
print(type(t))

<class 'tuple'>

In [10]:
# adding in list
food1=["momos","pizza","burger"]
food2=["noodles","rolls"]
food1.extend(food2) #joins both list or any other iterable object like tuple , set or dictionary
print(food1)
food1.append("maggie")
food1.insert(0,"dosa")
print(food1)
print(food1[2:5])

['momos', 'pizza', 'burger', 'noodles', 'rolls']
['dosa', 'momos', 'pizza', 'burger', 'noodles', 'rolls', 'maggie']
['pizza', 'burger', 'noodles']

In [5]:
#removing from list
list=["english","science","sst"]
list.remove("sst")
list.pop(1) #remove with use of index
list.clear() #returns empty list
print(list)

[]

In [8]:
#looping in list
list=[1,2,3,4,5]
for i in range(len(list)):
    print(list[i])
list2=[12,13,14,16,18]
i=0
while i<len(list2):
    print(list2[i])
    i=i+1

1
2
3
4
5
12
13
14
16
18

In [11]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:6])

['cherry', 'orange', 'kiwi', 'melon']

In [12]:
food = ['dosa', 'momos', 'pizza', 'burger', 'noodles', 'rolls', 'maggie']
print(food[2:6])

['pizza', 'burger', 'noodles', 'rolls']

In [8]:
list1=["english","sst","science","computer"]
list2=[]
for x in list1:
    if "i" in x:
        list2.append(x)
print(list2)
#same using list comprehension
A=["srishti","nikki","sneha","shivangi"]
B=[x for x in A if "i" in x]
print(B)

['english', 'science']
['srishti', 'nikki', 'shivangi']

In [1]:
#tuple
#A tuple is a collection which is ordered and unchangeable
#represented by round bracket
tuple1=("apple","orange","kiwi")
print(tuple1)

('apple', 'orange', 'kiwi')

In [2]:
#tuple with one item
tuple2=("apple",) #should have comma otherwise considered as string
print(tuple2)

('apple',)

In [12]:
#tuple constructor
tuple1=tuple(("java","c","python"))
print(tuple1)

('java', 'c', 'python')

In [3]:
n=int(input("Enter a number :"))

[1]

In [7]:
#factorial
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)
num=int(input("enter number"))
factorial(num)

enter number 5

120

In [12]:
import numpy as np

TypeError: data type 'fruits' not understood